<h2 mat-dialog-title>Submit new recipe</h2>
<mat-dialog-content class="mat-typography">

    <form class="recipe-form">
        <mat-form-field>
          <mat-label>Which item to you want to make?</mat-label>
          <input type="text" matInput placeholder="computer" [(ngModel)]="item" name="item">
        </mat-form-field>

        <input-number label="How many?" [(modelValue)]="amount" suffix="p/m" [min]="1" [max]="1000"></input-number>

        <!-- <mat-form-field>
          <mat-label>How many p/m?</mat-label>
          <input type="number" matInput placeholder="computer" [(ngModel)]="amount" name="amount">
          <span matSuffix class="mr-4">p/m</span>
        </mat-form-field> -->
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="submit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>