<h2 mat-dialog-title>Submit new recipe</h2>
<mat-dialog-content class="mat-typography dialog-content">

    <form class="recipe-form ">
        <mat-form-field class="recipe-field">
          <mat-label>Which item to you want to make?</mat-label>
          <input type="text" matInput placeholder="computer" [(ngModel)]="item" name="item" [matAutocomplete]="recipeAuto" (ngModelChange)="filterRecipeItems($event)" (focus)="openRecipePanel()" #recipeTrigger="matAutocompleteTrigger">
          <mat-autocomplete #recipeAuto="matAutocomplete" (optionSelected)="onRecipeSelected($event.option.value)">
            <mat-option *ngFor="let option of filteredRecipeItems" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field class="recipe-field" *ngIf="mainRecipeOptions.length > 0">
          <mat-label>Alternate recipe ({{ item }})</mat-label>
          <mat-select [(ngModel)]="selectedMainRecipe" name="selectedMainRecipe" (selectionChange)="onMainRecipeChange($event.value)">
            <mat-option *ngFor="let option of mainRecipeOptions" [value]="option">{{ option }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="amount-row">
          <div class="amount-field" [class.is-inactive]="useIngredientLimits && useIngredientsToMax" [attr.aria-disabled]="useIngredientLimits && useIngredientsToMax">
            <input-number label="How many?" [(modelValue)]="amount" (modelValueChange)="persistState()" suffix="p/m" [min]="1" [max]="1000"></input-number>
          </div>
          <mat-checkbox
            class="use-max-toggle"
            [(ngModel)]="useIngredientsToMax"
            name="useIngredientsToMax"
            [disabled]="!useIngredientLimits"
            (change)="persistState()"
          >
            Use ingredients to max
          </mat-checkbox>
        </div>

        <mat-form-field class="ingredient-field" [class.is-inactive]="!availableIngredients.length">
          <mat-label>Limit ingredients</mat-label>
          <input
            type="text"
            matInput
            [placeholder]="availableIngredients.length ? 'Start typing ingredient' : 'Select a recipe first'"
            [(ngModel)]="ingredientQuery"
            name="ingredientQuery"
            [matAutocomplete]="ingredientAuto"
            (ngModelChange)="filterIngredientOptions($event)"
            (focus)="openIngredientPanel()"
            [disabled]="!availableIngredients.length"
            #ingredientTrigger="matAutocompleteTrigger"
          >
          <mat-autocomplete #ingredientAuto="matAutocomplete" (optionSelected)="onIngredientSelected($event.option.value)">
            <mat-option *ngIf="availableIngredients.length === 0" disabled>
              Select a recipe first
            </mat-option>
            <mat-option *ngIf="availableIngredients.length > 0 && filteredIngredientOptions.length === 0" disabled>
              No matching ingredients
            </mat-option>
            <mat-option *ngFor="let option of filteredIngredientOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="selected-ingredients" *ngIf="selectedIngredients.length">
          <div class="selected-ingredient-row" *ngFor="let ingredient of selectedIngredients; trackBy: trackIngredient; let i = index">
            <span class="ingredient-name">{{ ingredient.itemName }}</span>
            <mat-form-field class="ingredient-amount">
              <mat-label>Amount</mat-label>
              <input
                matInput
                type="number"
                min="0"
                [(ngModel)]="ingredient.amount"
                name="ingredientAmount-{{ i }}"
                (ngModelChange)="persistState()"
              >
            </mat-form-field>
            <button type="button" mat-button class="remove-ingredient" (click)="removeIngredient(ingredient.itemName)">Remove</button>
          </div>
        </div>

        <div class="goals-section">
          <h4 class="goals-title">Optimization goals (ordered)</h4>
          <div class="goal-add-row">
            <mat-form-field class="goal-type-field">
              <mat-label>Goal</mat-label>
              <mat-select [(ngModel)]="selectedGoalType" name="selectedGoalType">
                <mat-option *ngFor="let goalType of goalTypes" [value]="goalType.value">
                  {{ goalType.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="goal-target-field">
              <mat-label>Target item/recipe</mat-label>
              <input
                matInput
                [(ngModel)]="goalTarget"
                name="goalTarget"
                placeholder="e.g. Crude Oil"
                [matAutocomplete]="goalTargetAuto"
                (ngModelChange)="filterGoalTargets($event)"
              >
              <mat-autocomplete #goalTargetAuto="matAutocomplete" (optionSelected)="onGoalTargetSelected($event.option.value)">
                <mat-option *ngFor="let option of filteredGoalTargets" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <button type="button" mat-button class="goal-add-button" (click)="addOptimizationGoal()">Add</button>
          </div>

          <div
            class="goal-list"
            cdkDropList
            [cdkDropListData]="optimizationGoals"
            (cdkDropListDropped)="dropOptimizationGoal($event)"
          >
            <div class="goal-item" cdkDrag *ngFor="let goal of optimizationGoals; let i = index">
              <span class="goal-handle" cdkDragHandle>drag</span>
              <span class="goal-text">{{ goal.type }} ({{ goal.target }})</span>
              <button type="button" mat-button class="goal-remove-button" (click)="removeOptimizationGoal(i)">Remove</button>
            </div>
          </div>
        </div>

        <!-- <mat-form-field>
          <mat-label>How many p/m?</mat-label>
          <input type="number" matInput placeholder="computer" [(ngModel)]="amount" name="amount">
          <span matSuffix class="mr-4">p/m</span>
        </mat-form-field> -->
    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="submit()" cdkFocusInitial>Submit</button>
</mat-dialog-actions>
