:root {
    --navbar-height: 70px;
    --background: #ebebeb; 
    --primary-color: #fefefe;
    --dark-color: #060508;
    --light-grey-color: #d8d8d8;
    --grey-color: silver;
    /* --grey-color: #c8c8c8; */
    --medium-grey-color: #8b8b8b;
    --dark-grey-color: #595959;
    --div-gap: 30px;
    --border-radius-sm: 5px;
    --border-radius-md: 10px;

    /* --breakpoint-mobile-portrait: 320px; */
    --breakpoint-mobile-landscape: 480px;
    --breakpoint-tablet-portrait: 768px;
    --breakpoint-tablet-landscape: 1024px;
    --breakpoint-desktop: 1200px;
    --breakpoint-large-desktop: 1440px;
}

/* label {
    font-weight: 600;
} */

html, body{
    font-family: 'Montserrat', sans-serif;

    /* width: 100%; */
}

#app {
    display: block; /* Ensures they behave as block elements */
    width: 100%;
    position: relative;
}

#app, #layout, .content {
    min-height: 100vh;
}

nav {
    position: absolute;
    z-index: 1;

    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2rem;
    
    width: 100%;
    max-width: calc(100% + 4px);
    height: var(--navbar-height);
    max-height: var(--navbar-height);
    pointer-events: none;
    
    padding: 1rem;

    a {
        pointer-events: auto;
        font-size: clamp(15px, 3vw, 30px);
        color: inherit;
    }
}

.main-nav {
    mix-blend-mode: difference;
    /* color: var(--medium-grey-color); */
    color: var(--background);

    a {
        text-decoration: none;
        font-weight: 600;
        transition: color 0.3s ease;
        padding: 0.25rem;
        border: 2px solid transparent;
        border-radius: var(--border-radius-md);
        transition: color 0.3s ease, border-color 0.7s ease, background-color 0.3s ease;
    }

    a:hover,
    a.router-link-active {
        color: var(--dark-color);
        border-color: var(--background);
        background-color: var(--background);
    }
}

#layout {
    display: block; /* Ensures they behave as block elements */
    width: 100%;


    background-color: var(--background);
    color : var(--dark-color);
    /* overflow: auto; */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 100%;

    padding: var(--navbar-height) 20px;
}


.box {
    background-color: #ffffff;
    padding: 2rem;
    /* height: 100%; */
    border-radius: var(--border-radius-md);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
}

/* @media (max-width: 767px) {
    .box {
        text-align: center;
    }   
} */




