:root {
    --navbar-height: 70px;
    --background: #ebebeb; 
}


html, body{
    height: 100%; 
    min-height:100vh;
    
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100%;
    max-width: 100%;
    height: var(--navbar-height);
    max-height: var(--navbar-height);
    /* background: transparent; */
    background-color: aqua;

    /* position: relative; */
    z-index: 1;
}

#content-wrapper {
    flex: 1;
    background-color: var(--background);
    color : #000; 
    overflow: auto;
}

.container-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

