body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    
    // transform: scale(1);
    // transform-origin: center;
    // transition: transform 0.3s ease;  /* Smooth transition */

}