<div
    matBadge="{{data.indentLevel}}"
    matBadgeSize="large"
    class="card rounded-md"
    id="card-{{data.id}}"
    appReady
    cdkOverlayOrigin
    #cardOrigin="cdkOverlayOrigin"
    (mouseenter)="showHint()"
    (mouseleave)="hideHint()"
>
    <img class="card-image" basePath [path]="machineImageUrl"/>

    <div class="circle produced-item">
        <img basePath [path]="getItemImageUrl(data.itemName)"/>
    </div>
    <div *ngIf="data.byproducts" class="byproduct-items">
        <ng-container *ngFor="let byproduct of data.byproducts; let i = index">
            <div class="circle byproduct-item" [ngStyle]="{
                'right': 'calc(-15% + ' + i * 15 + 'px)',
            }" >
                <img basePath [path]="getItemImageUrl(byproduct.itemName)"/>
            </div>
        </ng-container>
    </div>  
</div>

<ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="cardOrigin"
    [cdkConnectedOverlayOpen]="isHintOpen"
    [cdkConnectedOverlayHasBackdrop]="false"
    [cdkConnectedOverlayPositions]="hintPositions"
>
    <div class="card-hint rounded-lg" (mouseenter)="showHint()" (mouseleave)="hideHint()">
        <h5 class="card-hint-title">{{data.itemName}}</h5>
        <p class="card-hint-text">
            Produced in: <span>{{data.machineName}}</span>
        </p>
        <p class="card-hint-text">
            <span>{{data.machineCount}}</span> machines required
        </p>
        <!-- TODO: make this string in ts and take into extractor cases. set min 1 on pure - max 4 on unpure nodes -->
        <p *ngIf="data.machineCount % 1 !== 0">
            {{ data.machineCount | number:'1.0-0' }} full-power machines and 
            1 underclocked to {{ (data.machineCount % 1 * 100) | number:'1.0-0' }}%.
        </p>
        <p class="card-hint-text">Produces <span>{{data.productionRate}} p/m </span></p>
    </div>
</ng-template>
