@import '../../../../variables';

:host {
    position: relative; 
    left: 0;

    display: grid; 
    place-items: center; 
    min-height: 100vh; 
    height: min-content; 
    width: min-content;
    padding: 1rem;

    transition: transform 0.3s ease;  /* Smooth transition */
    background-color: #01110A;
    // background-color: rgba(5, 39, 8, 0.815);

}

.virtual-view {
    // display: contents;
    width: 100vw;
    height: 100vh;
}



.board {
    position: relative;
    transition: transform 0.3s ease;  /* Smooth transition */
    transform-origin: center;
    background-color: #76caab;
    will-change: transform; // zoom optimization

    display: grid;
    // gap: 5px;
    min-height: 100%;
}

.cell {
    height: 70px;
    width: 70px;
    padding: 5px;

    // background-color: #42362c00; /* Base background color */

    // background-image: url('http://localhost:8000/images/stone.jpg'); /* Texture image */
    // background-blend-mode: overlay; /* Blend the image with the color */
    // background-clip:border-box;
    // background-size: cover; /* Adjust size of the texture */
    // opacity: 0.5; /* Adjust the opacity of the texture */
    // z-index: 1; /* Ensure the texture appears below other elements */

    // border: 1px dashed white;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    pointer-events: none;

    width: 100%;
    height: 100%;

    padding: 0.75rem;

    display: flex;
    justify-content: space-between;

    > * {
        z-index: 1000;
    }

    &-panel {     
        display: flex;
        gap: 2rem;              

        width: fit-content;
                                

        &.right {
            justify-content: flex-start;
            align-items: flex-end;
            flex-direction: column;
        }

        > * {
            pointer-events: all;
        }

    }

    &-element {
        background-color: $overlay-backgrond;
        // background-color: rgba(8, 8, 8, 0.596);
    
        color: white !important;
        z-index: 1000;
    
    
        &.zoom {
            width: fit-content;
            padding: 0.75rem 1.5rem;
            
            font-size: 25px;
            font-weight: bold;
    
            display: grid;
            place-items: center;
        }
    
        &.input {

            color: white;
        }
    
        &.direction {

            color: white;
        }

        &.summary {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0.5rem;
        }
    }
}




.cdk-drag-preview {
    overflow: visible;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    will-change: auto;
}

.cdk-drag-placeholder {
    position: absolute;
    order: 1;
    opacity: 1;
    will-change: auto;
    // min-width: none;
    // width: 0;
}

.placeholder {
    box-shadow: inset 0 0 5px #032208;
    order: 2;
}

.cdk-drag-animating {
    transition: transform 250ms ease-in-out;
    will-change: auto;
}

.cdk-drop-list-dragging .placeholder:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    will-change: auto;

}