<div class="space">
    <div class="board" 
        #boardDiv           
        [ngStyle]="{
            'grid-template-columns': 'repeat(' + size + ' , 50px)',
            'transform': 'translate(' + position.x + 'px, ' + position.y + 'px) scale(' + scale + ')'
        }"
        cdkDropListGroup (mousedown)="onMouseDown($event)"
    >
        <ng-container *ngFor="let row of board; let y = index">
            <div
                class="cell"
                *ngFor="let cell of row; let x = index"
                cdkDropList
                (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="{x: x, y: y}"
                [cdkDropListEnterPredicate]="enterPredicate"
            >
                <satisfactory-card
                data-jtk-target="true"
                data-jtk-source="true"
                    *ngIf="cell"
                    cdkDrag 
                    [cdkDragData]="cell"
                    [data]="cell"
                    
                ></satisfactory-card>
                
            </div>
        </ng-container>
    </div>
</div>
  

