    <div 
        class="board gegeg"
        #boardDiv   
        cdkDropListGroup 
        (mousedown)="onMouseDown($event)"
        [ngStyle]="{
            'grid-template-columns': 'repeat(' + gridSize + ', ' + cellSize + 'px)',
            'transform': 'scale(' + scale + ')'
        }"
    >
        <ng-container *ngFor="let row of board; let y = index">                                                                                                                                                                                                                                                                                                                                                                                                                                                     
            <div
                class="cell"
                *ngFor="let cell of row; let x = index"
                cdkDropList
                (cdkDropListDropped)="drop($event)"
                [cdkDropListData]="{x: x, y: y}"
                [cdkDropListEnterPredicate]="enterPredicate"
            >
                <satisfactory-card
                    *ngIf="cell"
                    [data]="cell"
                    cdkDrag 
                    [cdkDragData]="cell"
                    (cdkDragStarted)="dragStarted($event)"
                    data-jtk-target="true"
                    data-jtk-source="true"
                ></satisfactory-card>
                
            </div>
        </ng-container>
    </div>
  

