@use '@angular/material' as mat;
@include mat.core();
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";



html, body { height: 100%; }

body { 
    position: relative;
    z-index: 2;

    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    min-height: 100vh;

    display: grid;
    place-items: center;

    .leader-line {
        will-change: transform;
        z-index: 1 !important;
        pointer-events: none !important;
    }
}


.mat-mdc-dialog-surface {
    background-color: rgba(239, 69, 18, 0.055) !important;

    .mat-mdc-dialog-title {
        color: white !important;
    }
}

.cdk-overlay-container,
.cdk-global-overlay-wrapper {
    z-index: 5000;
}
